In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('archivo1.csv', sep=';', engine='python')
df.head()

,User name,Full name,E-mail,Nickname,Created,Enabled
0,15324916,juan arroyave,diegaarroyaveg@gmail.com,15324916,02/02/2014 02:31:41 p.m.,Yes
1,0,Prueba Miguel Baquero,pgbarinas@euphoria-net.com,-1,14/11/2012 09:10:11 p.m.,No
2,1.104.867.397,Evelis Pestana,Omarjose757522@gmail.com,not available,24/02/2014 07:51:23 p.m.,Yes
3,1.124.057.619,Nelson Vives,hamayapia@hotmail.com,-1,16/10/2013 10:28:29 p.m.,Yes
4,1000611768,juan leon,judilemo@gmail.com,1000611768,09/11/2013 06:23:10 p.m.,Yes

In [11]:
df2= pd.read_csv('archivo2.csv', sep=";", engine='python')
df2.head()

,User name,Full name,Nickname,Created,Enabled
0,15324916,juan arroyave,15324916,02/02/2014 02:31:41 p.m.,Yes
1,0,Prueba Miguel Baquero,-1,14/11/2012 09:10:11 p.m.,No
2,1.104.867.397,Evelis Pestana,not available,24/02/2014 07:51:23 p.m.,Yes
3,1.124.057.619,Nelson Vives,-1,16/10/2013 10:28:29 p.m.,Yes
4,1000611768,juan leon,1000611768,09/11/2013 06:23:10 p.m.,Yes

In [14]:
# uniendo el dataframe en vertical 
merge_df = [df,df2]
pd.concat(merge_df)

/Users/ralphsliger/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Created,E-mail,Enabled,Full name,Nickname,User name
0,02/02/2014 02:31:41 p.m.,diegaarroyaveg@gmail.com,Yes,juan arroyave,15324916,15324916
1,14/11/2012 09:10:11 p.m.,pgbarinas@euphoria-net.com,No,Prueba Miguel Baquero,-1,0
2,24/02/2014 07:51:23 p.m.,Omarjose757522@gmail.com,Yes,Evelis Pestana,not available,1.104.867.397
3,16/10/2013 10:28:29 p.m.,hamayapia@hotmail.com,Yes,Nelson Vives,-1,1.124.057.619
4,09/11/2013 06:23:10 p.m.,judilemo@gmail.com,Yes,juan leon,1000611768,1000611768
5,02/04/2014 02:26:55 p.m.,clamiloq@hotmail.com,Yes,CESAR CASTRO,10007775,10007775
6,25/01/2014 01:34:50 p.m.,dayannareinel@gmail.com,Yes,Nelson Vives,1001901737,1001901737
7,25/01/2014 09:31:34 a.m.,franjazago1620@hotmail.com,Yes,FRANCISCO ZAPATA,10079912,10079912
8,25/09/2013 04:20:40 p.m.,gbarinasp@euphoria-net.com,No,Prueba Pepito Perez,1010172,1010172
9,11/10/2013 09:55:37 p.m.,NaN,No,Prueba Laura Fenandez,1010173,1010173
10,23/01/2014 03:05:38 p.m.,jeka_700@hotmail.com,Yes,YENNI BARRERA,1014228996,1014228996
11,26/02/2014 05:35:38 p.m.,josemanuel88@msn.com,Yes,Nelson Vives,10164811,10164811
12,17/09/2013 02:56:44 p.m.,NaN,No,PRUEBA VEGA,1020658945,1020658945
13,15/09/2013 07:57:41 p.m.,jamagu47@yahoo.es,No,Prueba Jairo Martinez,10210842,10210842
14,27/01/2014 08:47:25 p.m.,maria_isleny_r@hotmail.com,Yes,RAMON RODRIGUEZ,10224746,10224746
15,27/11/2013 03:32:48 p.m.,gnavar56@hotmail.com,Yes,German Navarrete,10225402,10225402
16,24/10/2013 11:19:05 a.m.,radioservicio@gmail.com,Yes,Ricardo Giraldo,10241140,10241140
17,10/04/2014 03:21:46 p.m.,andresmora20@gmail.com,Yes,Andres Mora,1024486759,1024486759
18,18/03/2014 01:54:55 p.m.,juankaossa@hotmail.com,Yes,juan ossa,10247091,10247091
19,10/02/2014 11:46:05 a.m.,adrianmorales869@hotmail.com,Yes,adrian morales,1031138231,1031138231
20,29/07/2013 10:14:19 a.m.,yuyi_224@hotmail.com,Yes,Prueba Velandia,1032384255,1032384255
21,16/01/2014 08:34:24 a.m.,yuyi_224@hotmail.com,Yes,Julieta Velandia,1032384256,1032384256
22,02/11/2013 01:37:20 p.m.,luisangeliz_1720@hotmail.com,Yes,luisa calderon,1032438778,1032438778
23,17/02/2014 05:56:56 p.m.,taticas0505@hotmail.com,Yes,tatiana castano,1036423224,1036423224
24,29/03/2014 10:02:39 a.m.,gallego610@gmail.com,Yes,Cesar Gallego,1037322453,1037322453
25,30/12/2013 10:59:20 a.m.,dianavarh@yahoo.es,Yes,Diana Vargas,1037579922,1037579922
26,18/02/2014 08:16:15 p.m.,dialci186@yahoo.es,Yes,Diana Alvarez,1040034673,1040034673
27,06/11/2013 12:35:19 p.m.,joliemun28@hotmail.com,Yes,Jolie Munera,1042346967,1042346967
28,23/12/2013 08:40:11 a.m.,davidsbernalnavarro@gmail.com,Yes,DAVID BERNAL,1042449708,1042449708
29,26/02/2014 05:26:07 p.m.,yesilver@misena.edu.co,Yes,yesid silva,1048282730,1048282730
...,...,...,...,...,...,...
358,12/03/2014 11:49:04 a.m.,NaN,Yes,LUIS GARCIA,8725530,8725530
359,08/03/2014 08:24:08 p.m.,NaN,Yes,MIGUEL BELENO,8735902,8735902
360,01/01/2014 07:16:14 a.m.,NaN,Yes,Juan C�rdenas,88259448,88259448
361,21/05/2013 10:44:55 a.m.,NaN,No,Prueba Movistar Telefonica,888,888
362,30/01/2014 07:51:24 p.m.,NaN,Yes,Humberto Pe�aloza,9051566,9051566
363,28/02/2014 11:49:06 a.m.,NaN,Yes,Miguel Licero,9078313,9078313
364,13/11/2013 02:46:52 p.m.,NaN,Yes,JOSE GONZALEZ,9080051,9080051
365,03/03/2014 03:55:16 p.m.,NaN,Yes,John Santos,91109670,91109670
366,12/12/2013 11:07:26 a.m.,NaN,Yes,juan rojas,91233211,91233211
367,18/03/2014 11:54:40 p.m.,NaN,Yes,JORGE RODRIGUEZ,91514144,91514144
368,25/03/2014 04:28:47 p.m.,NaN,Yes,fernando torres,9201634,9201634
369,13/11/2013 10:02:26 a.m.,NaN,Yes,armando gonzalez,92495461,92495461
370,03/10/2013 11:14:19 a.m.,NaN,Yes,JAIRO RAMIREZ,92505162,92505162
371,25/02/2014 01:00:58 p.m.,NaN,Yes,jimmy sierra,92513579,92513579
372,05/03/2014 04:36:40 p.m.,NaN,Yes,juan guzman,94411809,94411809
373,10/02/2014 11:03:32 p.m.,NaN,Yes,octavio obonaga,94412950,94412950
374,09/04/2014 02:15:04 p.m.,NaN,Yes,Alexander Castro,94442220,94442220
375,07/03/2014 11:41:02 a.m.,NaN,Yes,Juan Chaves,94497363,94497363
376,27/09/2013 12:22:12 p.m.,NaN,No,Prueba jose arcos,94516964,94516964
377,23/05/2013 07:11:06 p.m.,NaN,No,Prueba Pedro Pedraza,953,953
378,30/10/2012 05:07:50 p.m.,NaN,No,Prueba Pedro Acevedo,963,963
379,02/02/2014 09:36:26 p.m.,NaN,Yes,Laura Escobar,97090217953,97090217953
380,03/03/2014 05:20:28 a.m.,NaN,Yes,jose pati�o,9779787,9779787
381,25/03/2014 03:32:32 p.m.,NaN,Yes,alexander naranjo,98499217,98499217
382,13/02/2014 10:12:47 p.m.,NaN,Yes,Mario Rivera,98555276,98555276
383,27/10/2013 10:57:28 a.m.,NaN,Yes,Andres De Avila,987042,987042
384,23/05/2013 10:12:28 a.m.,NaN,No,Prueba ttt ttt,t,t
385,04/12/2013 03:09:33 p.m.,NaN,Yes,JOSE ORELLANO,T.I. 1.192.768.212,T.I. 1.192.768.212
386,22/05/2013 03:03:22 p.m.,NaN,No,Prueba test TEST,test,test
387,09/09/2013 09:16:27 a.m.,NaN,Yes,Prueba Rodolfo Torrado,84071348,torradolopez

In [17]:
#leer json
df_json = pd.read_json('data.json', orient='columns')
df_json.head()

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
10        5 2015-01-01 00:00:10         0
11        5 2015-01-01 00:00:11         0
12        8 2015-01-01 00:00:12         0

In [20]:
#leer html
df_html= pd.read_html('data.html')
df_html

[                      0                   1     2
 0  Programming Language             Creator  Year
 1                     C      Dennis Ritchie  1972
 2                Python    Guido Van Rossum  1989
 3                  Ruby  Yukihiro Matsumoto  1995]

In [24]:
#leer xml, ref: https://gokhanatil.com/2017/11/python-for-data-science-importing-xml-to-pandas-dataframe.html

import xml.etree.cElementTree as et
import pandas as pd
 
def getvalueofnode(node):
    """ return node text or None """
    return node.text if node is not None else None
 
 
def main():
    parsed_xml = et.parse("data.xml")
    dfcols = ['name', 'email', 'phone', 'street']
    df_xml = pd.DataFrame(columns=dfcols)
 
    for node in parsed_xml.getroot():
        name = node.attrib.get('name')
        email = node.find('email')
        phone = node.find('phone')
        street = node.find('address/street')
 
        df_xml = df_xml.append(
            pd.Series([name, getvalueofnode(email), getvalueofnode(phone),
                       getvalueofnode(street)], index=dfcols),
            ignore_index=True)
 
    print (df_xml)
 
main()

     name             email     phone        street
0  gokhan  gokhan@gmail.com  555-1234          None
1    mike    mike@gmail.com      None          None
2    john    john@gmail.com  555-4567          None
3   david              None  555-6472  Fifth Avenue